// Fonts 

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@mixin spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}

@mixin spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
}

@mixin spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}

@mixin spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
}

@mixin spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

@mixin spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
}

@mixin spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
}

@mixin spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
}

@mixin spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}

@mixin spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
}

@mixin spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}

@mixin spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
}

@mixin spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
}

@mixin spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
}

// Font sizes

@mixin font-xxl {
    font-size: 5rem;
}
@mixin font-xl {
    font-size: 4rem;
}
@mixin font-l {
    font-size: 3rem;
}
@mixin font-m {
    font-size: 2rem;
}
@mixin font-s {
    font-size: 1rem;
}