@import 'fonts';
@import 'colors';
@import 'utils';

*,
::before,
::after { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}



body { 
    font-family: "Spectral", serif;
}

main { 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    @include full-pg;

    display: flex;
    flex-direction: column;
    background-color: $sunny;
    color: $brown;

    scroll-snap-align: start;
    

    header { 
        border-bottom: 3px solid $brown;
        flex: 1;
    }

    .content {
        border-style: solid;
        border-width: 0 3px 0 3px;
        margin: 0 5em 0 5em;
        flex:3 0 70%;
    }

    footer {
        border-top: 3px solid $brown;
        flex: 1;
    }

    &:first-child {
        header { 
            height: 6em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2em 0 2em;

            h1 { 
                @include spectral-semibold-italic;
                @include font-xl;
            }
            p {
                @include font-m;
            }
        }

        .content { 
            @include maincover;
        }
    }

    &:nth-child(2) {
        .content { 
            display: flex;
            
            > * {
                flex: 1;
            }

            .first-page { 
                @include flex-cen;
            }
            .last-page { 
                @include maincover;
            }
        }
    }
}






