@import 'fonts';
@import 'colors';
@import 'utils';

*,
::before,
::after { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}



body { 
    font-family: "Spectral", serif;
}

main { 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    @include full-pg;

    display: flex;
    flex-direction: column;
    background-color: $sunny;
    color: $brown;

    scroll-snap-align: start;
    
    header { 
        border-bottom: 3px solid $brown;
        width: 100%;
        height: 4rem
    }

    .content {
        flex: 1;
        border-style: solid;
        border-width: 0 3px 0 3px;
        margin: 0 5em 0 5em;
    }

    footer {
        border-top: 3px solid $brown;
        width: 100%;
        height: 4rem
    }

    &:first-child {
        header { 
            height: 6em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2em 0 2em;
            h1 { 
                @include spectral-semibold-italic;
                @include font-xl;
            }
            p {
                @include font-m;
            }
        }
    }
}

img { 
    width: 100%;
    height: 100%;
    object-fit: fill;
}



